@model ModelMovie

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 xmlns="http://www.w3.org/1999/html">Create</h1>

<h4>Movie</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="CompanyId" class="control-label"></label>
                <select asp-for="CompanyId" class="form-control" ></select>
                <span asp-validation-for="CompanyId" class="text-danger"></span>
                <input name="filter" type="search" id="filter"/>
            </div>
            
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>


@section Scripts {
    <script>
        const select = document.getElementById("CompanyId");
        const filter = document.getElementById("filter");
        filter.onchange = (e) => {
        fetch(`/api/companies?fragment=${filter.value}`)
        .then(response => {
        if (response.ok)
            {
                return response.json();
            }
            throw "No. Ok, actual status " + response.status;
        }
        ).then(companies =>{
        select.innerHTML = "";
        for (let item of companies)
        {
         const option = document.createElement('option');
         option.setAttribute('value', item.companyId);
         option.innerText = item.companyName;
         select.appendChild(option);
         
         }
        }).catch(e => {
            console.error("Can't gert from api", e);
        })
        }
        
    </script>
}

