@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h2>BC</h2>
<form action="Result" method="post">
    <div class="mb-3">
        <label class="form-label" for="x">Twoje imie: </label>
        <input class="form-control" type="text" name="imie" step="0.00001" id="x" />
    </div>
    <div class="mb-3">
        <label class="form-label" for="y">Data urodzenia:</label>
        <input class="form-control" type="date" name="data_ur" step="0.00001" id="y" />
    </div>
    <div class="mb-3">
        <button class="btn btn-primary" type="submit">Oblicz</button>
    </div>
</form>