@model Birth
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h2>Birth calculator:</h2>
<div></div>
<h2>Witaj @Model.imie ! Masz @Model.Birth_fun() lat/(a).</h2>