@model Contact
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h2>Edit a contact: </h2>

<div class="col-6">
    <form asp-action="Edit" asp-controller="Contact" method="post">
        <div>
            <label class="form-label" asp-for="FirstName">First name:</label>
            <input class="form-control" asp-for="FirstName" type="text" />
            <span asp-validation-for="FirstName"></span>
        </div>
        <div>
            <label class="form-label" asp-for="LastName">Last name:</label>
            <input class="form-control" asp-for="LastName" type="text" />
            <span asp-validation-for="LastName"></span>
        </div>
        <div>
            <label class="form-label" asp-for="Email">Email:</label>
            <input class="form-control" asp-for="Email" type="email" />
            <span asp-validation-for="FirstName"></span>
        </div>
        <div>
            <label class="form-label" asp-for="Telephone">Phone number:</label>
            <input class="form-control" asp-for="Telephone" type="tel" />
            <span asp-validation-for="Telephone"></span>
        </div>
        <div>
            <label class="form-label" asp-for="BirthDate">Birth date:</label>
            <input class="form-control" asp-for="BirthDate" type="date" />
            <span asp-validation-for="BirthDate"></span>
        </div>


        <button type="submit" class="btn btn-outline-primary">Save</button>
        <a asp-action="Index" asp-controller="Contact" class="btn btn-outline-primary">Cancel</a>
    </form>

</div>