@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    @if (!string.IsNullOrEmpty(ViewBag.LoginInfo))
    {
        <div class="alert alert-info mt-4">
            <strong>Informacja:</strong> @ViewBag.LoginInfo
        </div>
    }

    <a class="btn btn-primary mt-3" asp-controller="Account" asp-action="Login">Przejdź do logowania</a>
</div>